$colors: (
  neutral: (
    100: hsl(0, 0%, 80%),
    200: hsl(0, 0%, 70%),
    300: hsl(0, 0%, 60%),
    400: hsl(0, 0%, 50%),
    500: hsl(0, 0%, 40%),
    600: hsl(0, 0%, 30%),
    700: hsl(0, 0%, 10%),
  ),
  yellows: (
    100: hsl(39, 80%, 80%),
    200: hsl(39, 80%, 70%),
    300: hsl(39, 80%, 60%),
    400: hsl(39, 80%, 50%),
    500: hsl(39, 80%, 40%),
    600: hsl(39, 80%, 30%),
    700: hsl(39, 80%, 20%),
  ),
  oranges: (
    100: hsl(33, 80%, 80%),
    200: hsl(33, 80%, 70%),
    300: hsl(33, 80%, 60%),
    400: hsl(33, 80%, 50%),
    500: hsl(33, 80%, 40%),
    600: hsl(33, 80%, 30%),
    700: hsl(33, 80%, 20%),
  ),
  reds: (
    100: hsl(0, 80%, 80%),
    200: hsl(0, 80%, 70%),
    300: hsl(0, 80%, 60%),
    400: hsl(0, 80%, 50%),
    500: hsl(0, 80%, 40%),
    600: hsl(0, 80%, 30%),
    700: hsl(0, 80%, 20%),
  ),
);
